*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #0e0e0e;
}
.navContiner{
    display: flex;
    color: white;
    justify-content: space-around;
}
.listItem{
    display: flex;
    justify-content: space-evenly;
    width: 48vw;
    align-items: center;
    height: 9vh;
}

.list{
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
}
.list li{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}
.logoContiner{
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
    height: 9vh;
    align-items: center;
}

.welcomPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:40vh;
    color: white;
    text-align: center;
}
.welcomPage h1{
    font-size: 45px;
    
}
.welcomPage p{
    font-size: 20px;
    text-align: center;
    width: 40%;
}
.imgs{
    display: flex;
    justify-content: space-evenly;
}
.imgs img{
    width: 400px;
    height: 300px;
}
.disc{
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    color: white;
    font-size: 20px;
    justify-items: center;
    margin-top: 10px;
}

.imgs2{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 20px;
}
.imgs2 img{
    width: 400px;
    height: 300px;
}

.imgs3 img{
    width: 400px;
    height: 300px;
}
.imgs3{
    display: flex;
    justify-content:space-around;
    justify-items: center;
    margin-top: 20px;
    transform: translateX(-95px);
}
.img33{
    position: relative;
    right: 240px;
}
.disc3{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    font-size: 20px;
    justify-items: center;
    margin-top: 10px;
    transform: translateX(-195px);
}


.imgs :hover{
    position: relative;
    bottom:12px ;
}
.imgs2 :hover{
    position: relative;
    bottom:12px ;
}
.imgs3 :hover{
    position: relative;
    bottom:12px ;
}

.secondPage{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
}
.imgs1 img{
    width: 30vw;
}
.imgs1{
    height: 70vh; 
    transform: translateX(150px);
}
.imgsp img{
    width: 30vw;
}
.imgsp{
    
    transform: translateX(-25px);
}
.imgesPage2 {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 100%;   
}
.prgraph{
    display: flex;
    flex-direction: column;
}
.prgraph p{
    width: 80%;
}
.prgraph h1{
    width: 55%;
}
.prgraph a{
    margin-top: 10px;
    background-color: #0e0e0e;
    width: 8vw;
    height: 5vh;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.imgDon{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.imgDon p{
    display: flex;
    font-size: 24px;
    justify-content: center;
}